[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
sanic_ext = "*"
requests = "*"
tortoise-orm = "*"
aiomysql = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
